<form method="post" action="{{ path('app_classroom_delete', {'uuid': classroom.uuid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classroom.uuid) }}">
    <button class="btn btn-sm btn-danger">Delete</button>
</form>
